.pagetitle {
    padding: 1.6rem 0;
    position: relative;
    &--row {
        display: flex;
        justify-content: space-between;
        grid-gap: 0;
        gap: 0;
    }
    &--button {
        flex: 0 0 auto;
        grid-area: button;
        max-width: 100%;
        margin-right: 1.6rem;
    }
    &--title-wrapper {
        grid-area: title;
        margin-top: 0;
        align-self: center;
        flex: 1 1 auto;
    }
    &--title {
        margin: 0;
        word-break: break-word;
        overflow-wrap: break-word;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.8rem;
    }
}